.banner {
  align-items: center;
  margin-top: 6.25em;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}

.banner__title {
  margin: 0 auto;
  width: 19.375em;
  height: 13.31em;
  text-align: center;
}
.banner__title h2 {
  display: block;
  color: #000;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.4em;
}
.banner__title h3 {
  margin: 0 auto;
  width: 80%;
  height: 3.5em;
  display: block;
  color: #000;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1rem;
}
.banner__title button {
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
  width: 100%;
  max-width: 27.5em;
  height: 4.1em;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  background: #08a6e4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.37rem;
}

.banner__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  overflow: hidden;
}
.banner__image img {
  display: block;
  margin: 0 auto;
  margin-top: 3em;
  width: auto;
  max-width: 100%;
  height: 16.6em;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__footer {
  margin-top: 0.81em;
  width: 100%;
}

.banner__footer__title {
  margin: 0 auto;
  width: 90%;
  max-width: 50em;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5625rem;
}

.banner__footer__article {
  margin: 0 auto;
  width: 8rem;
  height: 10.5em;
  text-align: center;
  margin-bottom: 1.5em;
}

.banner__footer__images {
  display: flex;
  justify-content: center;
  height: 4em;
}

.banner__footer__ellipse {
  position: absolute;
  width: 3.94em;
  height: 3.94em;
  min-height: 3.94em;
}

.banner__footer__img {
  position: relative;
  top: 0.3em;
  left: 1.3em;
}

.banner__footer__article__subtitle {
  margin-top: 1em;
  width: auto;
  margin-bottom: 1.1em;
  color: #000;
  font-family: Raleway;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.4rem;
  letter-spacing: 0.37rem;
}

.banner__footer__article__text {
  color: #a5a5a5;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1765rem;
}

/* MEDIA***************************************** */
@media screen and (min-width: 768px) {
  .banner__title {
    width: auto;
  }
  .banner__title h2 {
    font-size: 3.06rem;
  }
  .banner__title h3 {
    width: 100%;
  }
  .banner__title button {
    margin-top: 0;
  }
  .banner__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner__footer__title {
    font-weight: 400;
  }
  .banner__footer__container {
    margin-top: 6.43em;
    display: flex;
    justify-content: center;
    gap: 11.5em;
    max-width: 90%;
    margin-bottom: 8.25em;
  }
}/*# sourceMappingURL=banner.css.map */