.contact {
  padding-top: 3.3em;
  width: 100%;
  background: #fff;
}
.contact__article {
  width: 90%;
  margin: 0 auto;
  h4 {
    color: #000;
    font-family: "Raleway";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 2.4em;
  }
}

.contact__article__container__info {
  display: flex;
  align-items: center;
  img {
    display: inline-block;
    width: 1.69em;
    height: 1.69em;
    margin-bottom: 0.5em;
  }
  p {
    display: inline-block;
    color: #a5a5a5;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
  }
}

.contact__form__data {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
  label {
    color: #08a6e4;
    font-family: Open Sans;
    font-size: 0.69rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2rem;
  }
  input {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2.6em;
    width: 100%;
    height: 2em;
    border: 0;
    border-bottom: 1px solid #95989a;
  }
}
.contact__form__check {
  display: flex;
  width: 90%;
  margin: 0 auto;
  p {
    display: inline-block;
    width: 79%;
    color: #707070;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.contact__form__check__checkbox {
  display: inline-block;
  appearance: none;
  margin-right: 0.62em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25rem;
  border: 1px solid rgb(129, 129, 129);
  color: #08a6e4;
  background-color: #fff;
  cursor: pointer;
}

.contact__form__check__checkbox:checked {
  background-image: url('../../public/image/contact/Checkmark.png');
  background-position: center;
  background-repeat: no-repeat;
}
.contact__form__check__checkbox:disabled {
  background-color: rgb(198, 198, 198);
  background-image: none;
}

.contact__form__send {
  text-align: end;
  width: 90%;
  button {
    margin-top: 2em;
    width: 14.1em;
    height: 3.5em;
    flex-shrink: 0;
    border: 0;
    border-radius: 2.1rem;
    background: #08a6e4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
    color: #fff;
    font-family: Open Sans;
    font-size: 0.81rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
}

// MEDIA ***********************************************************

@media screen and (min-width: 1000px) {
  .contact {
    display: flex;
    width: 90%;
    max-width: 56em;
  }
  .contact__article {
    width: 50%;
    h4 {
      font-size: 3rem;
    }
    h5 {
      margin-top: 1.4em;
      margin-bottom: 2.6em;
    }
  }
  .contact__article__container {
    display: flex;
    gap: 1.25rem;
  }
  .contact__article__container__info {
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 0.6em;
  }
  .contact__form {
    width: 50%;
  }
}
