.pricing {
  width: 100%;
  background: #fff;
  background-color: transparent;
  .currency {
    margin-top: 2rem;
    width: 90%;
    text-align: end;
  }
  h3 {
    // margin: 3.313rem 0 0 0;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.625rem;
  }
}

.pricing-article {
  margin: 0 auto;
  width: 80%;
  height: 17.1875rem;
  max-height: 30.3125rem;
  transition: transform 0.3s ease;
  
  .pricing-section {
    display: flex;
    align-items: center;
    margin-bottom: -1.5rem;
    margin-top: 0.875rem;
    width: 100%;
    max-width: 25.3125rem;
    height: 15.6875rem;
    flex-shrink: 0;
    border-radius: 1.125rem;
    border: 1px solid #fb3b64;
    background: #fff;

    .pricing-text {
      margin-top: 0;
      width: 50%;

      h4 {
        width: 100%;
        text-align: center;
        color: #13253b;
        font-family: Raleway;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
      }
      h5 {
        width: 100%;
        text-align: center;
        font-family: Open Sans;
        font-size: 2.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 3.6875rem;
        color: #fb3b64;
      }
    }
    ul {
      display: inline-block;
      list-style: none;

      li {
        margin: 0 auto;
        margin-bottom: 1.25rem;
        p {
          display: inline-block;
          color: #000;
          text-align: center;
          font-family: Open Sans;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        img {
          margin-right: 0.3125rem;
          width: 0.6875rem;
          height: 0.6875rem;
        }
        span {
          margin-right: 0.3125rem;
          flex-shrink: 0;
          padding: 0px 0.125rem;
          border: 1px solid #eb476e;
          color: #eb476e;
          text-align: center;
          font-family: Raleway;
          font-size: 0.5625rem;
          font-style: normal;
          font-weight: 400;
          line-height: 0.625rem;
        }
      }
    }
  }
  .pricing-button {
    width: 100%;
    text-align: center;
    button {
      width: 9.375rem;
      height: 3.125rem;
      flex-shrink: 0;
      color: #fff;
      font-family: Open Sans;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
      border-radius: 1.4375rem;
      background: #eb476e;
    }
  }
}

.pricing-article:hover {
  transform: scale(1.2);
  .pricing-section {
    box-shadow: 5px 10px 27px 0px #eb476d46;
  }
}

// **********************************************

.pricing-article2 {
  margin-top: 1.875rem;
  @extend .pricing-article;
  .pricing-section2 {
    @extend .pricing-section;
    border: 1px solid #07ace6;
    .pricing-text2 {
      @extend .pricing-text;
      h5 {
        color: #07ace6;
      }
      h6 {
        width: 100%;
        text-align: center;
        color: #13253b;
        font-family: Raleway;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  .pricing-button2 {
    @extend .pricing-button;
    button {
      background: #07ace6;
    }
  }
}

.pricing-article2:hover {
  .pricing-section2 {
    box-shadow: 5px 10px 27px 0px #07abe64d;
  }
}

//**********************************************

.pricing-article3 {
  margin-top: 1.875rem;
  @extend .pricing-article;
  .pricing-section3 {
    @extend .pricing-section;
    border: 1px solid #55dfb4;
    .pricing-text3{
      @extend .pricing-text;
      h5 {
        color: #55dfb4;
      }
      h6 {
        width: 100%;
        text-align: center;
        color: #13253b;
        font-family: Raleway;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  .pricing-button3 {
    @extend .pricing-button;
    button {
      background: #55dfb4;
    }
  }
}

.pricing-article3:hover {
  .pricing-section3 {
    box-shadow: 5px 10px 27px 0px #55dfb34d;
  }
}

//MEDIA *****************************************************************

@media screen and (min-width: 520px) {
  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    .pricing-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3.75rem;
      width: 100%;
      margin-bottom: 8.125rem;
      .pricing-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 23.25rem;
        margin: 0px;
        padding: 0px;
        .pricing-section {
          display: flex;
          flex-direction: column;
          height: 28.8125rem;
          margin-top: 3.125rem;
          padding-bottom: 3.4375rem;
          .pricing-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h4 {
              margin-top: 2.0625rem;
            }
            h5 {
              margin-top: 0.875rem;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3.125rem;
          }
        }
        .pricing-button {
          display: flex;
          justify-content: center;
          width: 100%;
          button {
            width: 10.3125rem;
            height: 3.125rem;
          }
        }
      }
    }
  }
}
