.pricing {
  width: 100%;
  background: #fff;
  background-color: transparent;
}
.pricing h3 {
  margin: 3.313rem 0 0 0;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.625rem;
}

.pricing-article, .pricing-article3, .pricing-article2 {
  margin: 0 auto;
  width: 80%;
  height: 17.1875rem;
  max-height: 30.3125rem;
  transition: transform 0.3s ease;
}
.pricing-article .pricing-section, .pricing-article3 .pricing-section, .pricing-article3 .pricing-section3, .pricing-article2 .pricing-section, .pricing-article2 .pricing-section2 {
  display: flex;
  align-items: center;
  margin-bottom: -1.5rem;
  margin-top: 0.875rem;
  width: 100%;
  max-width: 25.3125rem;
  height: 15.6875rem;
  flex-shrink: 0;
  border-radius: 1.125rem;
  border: 1px solid #fb3b64;
  background: #fff;
}
.pricing-article .pricing-section .pricing-text, .pricing-article3 .pricing-section .pricing-text, .pricing-article3 .pricing-section3 .pricing-text, .pricing-article3 .pricing-section3 .pricing-text3, .pricing-article2 .pricing-section .pricing-text, .pricing-article2 .pricing-section2 .pricing-text, .pricing-article2 .pricing-section2 .pricing-text2 {
  margin-top: 0;
  width: 50%;
}
.pricing-article .pricing-section .pricing-text h4, .pricing-article3 .pricing-section .pricing-text h4, .pricing-article3 .pricing-section3 .pricing-text h4, .pricing-article3 .pricing-section3 .pricing-text3 h4, .pricing-article2 .pricing-section .pricing-text h4, .pricing-article2 .pricing-section2 .pricing-text h4, .pricing-article2 .pricing-section2 .pricing-text2 h4 {
  width: 100%;
  text-align: center;
  color: #13253b;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.pricing-article .pricing-section .pricing-text h5, .pricing-article3 .pricing-section .pricing-text h5, .pricing-article3 .pricing-section3 .pricing-text h5, .pricing-article3 .pricing-section3 .pricing-text3 h5, .pricing-article2 .pricing-section .pricing-text h5, .pricing-article2 .pricing-section2 .pricing-text h5, .pricing-article2 .pricing-section2 .pricing-text2 h5 {
  width: 100%;
  text-align: center;
  font-family: Open Sans;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.6875rem;
  color: #fb3b64;
}
.pricing-article .pricing-section ul, .pricing-article3 .pricing-section ul, .pricing-article3 .pricing-section3 ul, .pricing-article2 .pricing-section ul, .pricing-article2 .pricing-section2 ul {
  display: inline-block;
  list-style: none;
}
.pricing-article .pricing-section ul li, .pricing-article3 .pricing-section ul li, .pricing-article3 .pricing-section3 ul li, .pricing-article2 .pricing-section ul li, .pricing-article2 .pricing-section2 ul li {
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.pricing-article .pricing-section ul li p, .pricing-article3 .pricing-section ul li p, .pricing-article3 .pricing-section3 ul li p, .pricing-article2 .pricing-section ul li p, .pricing-article2 .pricing-section2 ul li p {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pricing-article .pricing-section ul li img, .pricing-article3 .pricing-section ul li img, .pricing-article3 .pricing-section3 ul li img, .pricing-article2 .pricing-section ul li img, .pricing-article2 .pricing-section2 ul li img {
  margin-right: 0.3125rem;
  width: 0.6875rem;
  height: 0.6875rem;
}
.pricing-article .pricing-section ul li span, .pricing-article3 .pricing-section ul li span, .pricing-article3 .pricing-section3 ul li span, .pricing-article2 .pricing-section ul li span, .pricing-article2 .pricing-section2 ul li span {
  margin-right: 0.3125rem;
  flex-shrink: 0;
  padding: 0px 0.125rem;
  border: 1px solid #eb476e;
  color: #eb476e;
  text-align: center;
  font-family: Raleway;
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.625rem;
}
.pricing-article .pricing-button, .pricing-article3 .pricing-button, .pricing-article3 .pricing-button3, .pricing-article2 .pricing-button, .pricing-article2 .pricing-button2 {
  width: 100%;
  text-align: center;
}
.pricing-article .pricing-button button, .pricing-article3 .pricing-button button, .pricing-article3 .pricing-button3 button, .pricing-article2 .pricing-button button, .pricing-article2 .pricing-button2 button {
  width: 9.375rem;
  height: 3.125rem;
  flex-shrink: 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 1.4375rem;
  background: #eb476e;
}

.pricing-article:hover, .pricing-article3:hover, .pricing-article2:hover {
  transform: scale(1.2);
}
.pricing-article:hover .pricing-section, .pricing-article:hover .pricing-article3 .pricing-section3, .pricing-article3 .pricing-article:hover .pricing-section3, .pricing-article3:hover .pricing-section, .pricing-article3:hover .pricing-section3, .pricing-article:hover .pricing-article2 .pricing-section2, .pricing-article3:hover .pricing-article2 .pricing-section2, .pricing-article2 .pricing-article:hover .pricing-section2, .pricing-article2 .pricing-article3:hover .pricing-section2, .pricing-article2:hover .pricing-section, .pricing-article2:hover .pricing-article3 .pricing-section3, .pricing-article3 .pricing-article2:hover .pricing-section3, .pricing-article2:hover .pricing-section2 {
  box-shadow: 5px 10px 27px 0px rgba(235, 71, 109, 0.2745098039);
}

.pricing-article2 {
  margin-top: 1.875rem;
}
.pricing-article2 .pricing-section2 {
  border: 1px solid #07ace6;
}
.pricing-article2 .pricing-section2 .pricing-text2 h5 {
  color: #07ace6;
}
.pricing-article2 .pricing-section2 .pricing-text2 h6 {
  width: 100%;
  text-align: center;
  color: #13253b;
  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-article2 .pricing-button2 button {
  background: #07ace6;
}

.pricing-article2:hover .pricing-section2 {
  box-shadow: 5px 10px 27px 0px rgba(7, 171, 230, 0.3019607843);
}

.pricing-article3 {
  margin-top: 1.875rem;
}
.pricing-article3 .pricing-section3 {
  border: 1px solid #55dfb4;
}
.pricing-article3 .pricing-section3 .pricing-text3 h5 {
  color: #55dfb4;
}
.pricing-article3 .pricing-section3 .pricing-text3 h6 {
  width: 100%;
  text-align: center;
  color: #13253b;
  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-article3 .pricing-button3 button {
  background: #55dfb4;
}

.pricing-article3:hover .pricing-section3 {
  box-shadow: 5px 10px 27px 0px rgba(85, 223, 179, 0.3019607843);
}

@media screen and (min-width: 520px) {
  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .pricing .pricing-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.75rem;
    width: 100%;
    margin-bottom: 8.125rem;
  }
  .pricing .pricing-container .pricing-article, .pricing .pricing-container .pricing-article2, .pricing .pricing-container .pricing-article3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 23.25rem;
    margin: 0px;
    padding: 0px;
  }
  .pricing .pricing-container .pricing-article .pricing-section, .pricing .pricing-container .pricing-article2 .pricing-section, .pricing .pricing-container .pricing-article3 .pricing-section, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2, .pricing .pricing-container .pricing-article2 .pricing-section2, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3, .pricing .pricing-container .pricing-article3 .pricing-section3 {
    display: flex;
    flex-direction: column;
    height: 28.8125rem;
    margin-top: 3.125rem;
    padding-bottom: 3.4375rem;
  }
  .pricing .pricing-container .pricing-article .pricing-section .pricing-text, .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text, .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article .pricing-section .pricing-text2, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text2, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text2, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text2, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text2, .pricing-article2 .pricing-section2 .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text2, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text2, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article .pricing-section .pricing-text3, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text3, .pricing-article3 .pricing-section3 .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text3, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text3, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text3, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text3, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pricing .pricing-container .pricing-article .pricing-section .pricing-text h4, .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text h4, .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text h4, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text h4, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text h4, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text h4, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text h4, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text h4, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text h4, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article .pricing-section .pricing-text2 h4, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text2 h4, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text2 h4, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text2 h4, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text2 h4, .pricing-article2 .pricing-section2 .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text2 h4, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text2 h4, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article .pricing-section .pricing-text3 h4, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text3 h4, .pricing-article3 .pricing-section3 .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text3 h4, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text3 h4, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text3 h4, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text3 h4, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text3 h4 {
    margin-top: 2.0625rem;
  }
  .pricing .pricing-container .pricing-article .pricing-section .pricing-text h5, .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text h5, .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text h5, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text h5, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text h5, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text h5, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text h5, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text h5, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text h5, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article .pricing-section .pricing-text2 h5, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text2 h5, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text2 h5, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text2 h5, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text2 h5, .pricing-article2 .pricing-section2 .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text2 h5, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text2 h5, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article .pricing-section .pricing-text3 h5, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text3 h5, .pricing-article3 .pricing-section3 .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text3 h5, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text3 h5, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text3 h5, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text3 h5, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text3 h5 {
    margin-top: 0.875rem;
  }
  .pricing .pricing-container .pricing-article .pricing-section ul, .pricing .pricing-container .pricing-article2 .pricing-section ul, .pricing .pricing-container .pricing-article3 .pricing-section ul, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 ul, .pricing .pricing-container .pricing-article2 .pricing-section2 ul, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 ul, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 ul, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 ul, .pricing .pricing-container .pricing-article3 .pricing-section3 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.125rem;
  }
  .pricing .pricing-container .pricing-article .pricing-button, .pricing .pricing-container .pricing-article2 .pricing-button, .pricing .pricing-container .pricing-article3 .pricing-button, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-button2, .pricing .pricing-container .pricing-article2 .pricing-button2, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-button2, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-button3, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-button3, .pricing .pricing-container .pricing-article3 .pricing-button3 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .pricing .pricing-container .pricing-article .pricing-button button, .pricing .pricing-container .pricing-article2 .pricing-button button, .pricing .pricing-container .pricing-article3 .pricing-button button, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-button2 button, .pricing .pricing-container .pricing-article2 .pricing-button2 button, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-button2 button, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-button3 button, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-button3 button, .pricing .pricing-container .pricing-article3 .pricing-button3 button {
    width: 10.3125rem;
    height: 3.125rem;
  }
}/*# sourceMappingURL=aside2.css.map */