// card1*****************************************
.section1 {
  width: 100%;
  height: 87.229rem;
  background: #f7f7f7;
  padding-bottom: 2rem;
  .card1 {
    margin: 0 auto;
    margin-top: 2.62rem;
    width: 19.625rem;
    height: 23.125rem;
    border-radius: 0.313rem;
    border: 1px solid #e8e9ed;
    background: #fff;
    .div-images {
      display: flex;
      justify-content: center;
      .div-images__mac {
        margin: 0 auto;
        position: absolute;
        margin-bottom: 20px;
        margin-top: 2rem;
        display: inline-block;
        width: 50%;
        max-width: 13.25rem;
        height: auto;
        z-index: 1;
      }
      .div-images__rombo {
        position: relative;
        display: none;
        margin-top: 0rem;
        margin-right: -40%;
        width: 40%;
        height: auto;
        z-index: 0;
      }
      .div-images__elipse {
        position: relative;
        display: block;
        margin-top: 0rem;
        margin-right: -40%;
        width: 40%;
        height: auto;
        z-index: 0;
      }
    }
    .div-text {
      h3 {
        margin: 2.3rem 0rem 0rem 1.2rem;
        width: auto;
        height: 4.5rem;
        color: #000;
        font-family: Raleway;
        font-size: 1.87rem;
        font-weight: 400;
      }
      p {
        margin: 0.625rem 0rem 0rem 1.2rem;
        width: 78%;
        color: #000;
        font-family: Open Sans;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.313rem;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .section1 {
    padding: 6.563rem 0rem;
    .card1 {
      display: flex;
      flex-direction: row-reverse;
      align-items: start;
      justify-content: center;
      width: 90%;
      height: 23.125rem;
      max-width: 70.25rem;
      margin-bottom: 2.563rem;
      .div-images {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        .div-images__mac {
          margin-top: 7.063rem;
          width: 30%;
          max-width: 386px;
          height: auto;
          flex-shrink: 0;
        }
        .div-images__rombo {
          margin-top: 2.375rem;
          display: block;
          width: 40%;
          height: auto;
          flex-shrink: 0;
          margin-top: -10%;
        }
        .div-images__elipse {
          display: none;
        }
      }
      .div-text {
        margin-top: 5.68rem;
        margin-left: 2.188rem;
        height: 11.75rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        h3 {
          margin: 0 0 1.875rem 0;
          font-size: 36px;
        }
        p {
          width: 70%;
          margin: 0 0 3.125rem 0;
          font-size: 16px;
          margin-bottom: 50px;
        }
        span {
          display: block;
          max-width: 90%;
          border-bottom: 2px solid #fb3b64;
          width: 327.64px;
          height: 2px;
        }
      }
    }
  }
}

// card2******************************************************

.card2 {
  @extend .card1;
  .div2-images {
    display: flex;
    justify-content: center;
    align-items: center;
    .div2-images__iphone2 {
      position: relative;
      margin-top: 1.188rem;
      margin-left: 8%;
      width: 55%;
      height: auto;
      flex-shrink: 0;
      z-index: 1;
    }
    .div2-images__elipse-azul {
      position: absolute;
      width: 8.188rem;
      height: auto;
      flex-shrink: 0;
      background-color: #08a6e4;
      border-radius: 50%;
      z-index: 0;
    }
  }
  .div2-text {
    margin-top: 1.625rem;
    h3 {
      height: auto;
      margin: 0rem 0rem 1.12rem 1.37rem;
      width: 70%;
      color: #000;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 400;
    }
    p {
      margin: 0rem 0rem 1.56rem 1.37rem;
      width: 78%;
      color: #000;
      font-family: Open Sans;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 21px;
    }
  }
}

@media screen and (min-width: 950px) {
  .section1 {
    .card2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 23.125rem;
      .div2-images {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        .div2-images__iphone2 {
          margin-right: 4rem;
          width: 80%;
          height: auto;
          flex-shrink: 0;
        }
        .div2-images__elipse-azul {
          display: block;
          margin: 0 8rem 2rem 0;
          width: 28%;
          max-width: 20rem;
          height: auto;
          flex-shrink: 0;
        }
      }
      .div2-text {
        margin: 0;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        h3 {
          width: 50%;
          margin: 15% 0 1.875rem 3rem;
          font-size: 2.25rem;
        }
        p {
          margin: 0 1.25rem 3.125rem 3rem;
          width: 80%;
          font-size: 1rem;
        }
        span {
          margin-left: 3rem;
          display: block;
          border-bottom: 2px solid #08a6e4;
          width: 327.64px;
          max-width: 90%;
          height: 2px;
        }
      }
    }
  }
}

// card3 ********************************************************

.card3 {
  @extend .card1;
  .div3-text {
    height: auto;
    h3 {
      margin: 1.9rem 0rem 0rem 1.2rem;
      width: 80%;
      height: auto;
      color: #000;
      font-family: Raleway;
      font-size: 1.87rem;
      font-weight: 400;
    }
    p {
      margin: 1.271rem 0rem 0rem 1.2rem;
      width: 70%;
      color: #000;
      font-family: Open Sans;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.313rem;
    }
  }
}
.div3-images {
  height: 18rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
  width: 100%;
  height: 207.72px;
  flex-shrink: 0;
  background: #55dfb4;
  img {
    text-align: center;
    margin-top: 24px;
    margin-right: 30px;
    width: 100%;
    max-width: 265.73px;
    height: 207.72px;
    flex-shrink: 0;
    height: auto;
    flex-shrink: 0;
  }
}

// MEDIA *********************************************************

@media screen and (min-width: 950px) {
  .section1 {
    .card3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: transparent;
      border: none;

      .div3-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 58%;
        border-radius: 5px;
        border: 1px solid #e8e9ed;
        background: #fff;
        h3 {
          width: 60%;
          margin: 0 0 1.875rem 2.25rem;
          font-size: 36px;
        }
        p {
          width: 55%;
          margin: 0 0 3.125rem 2.25rem;
          font-size: 16px;
          margin-bottom: 50px;
        }

        span {
          margin-left: 2.25rem;
          display: block;
          border-bottom: 2px solid #55dfb4;
        }
      }
      .div3-images {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 38%;
      }
      span {
        display: none;
        margin-left: 1.2rem;
        border-bottom: 2px solid #55dfb4;
        width: 327.64px;
        max-width: 90%;
        height: 2px;
        flex-shrink: 0;
      }
    }
  }
}
