
// barra transparente para que no se mueva 
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
}

.progress__bar {
    height: 100%;
    width: 0;
    background-color: #3498db;
    transition: width 0.3s ease;
}