.news {
  width: 100%;
  height: 87.2em;
  background: #f7f7f7;
  padding-bottom: 2rem;
}

.news__card1, .news__card3, .news__card2 {
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 2.6em;
  width: 19.6em;
  height: 23.1em;
  border-radius: 0.313rem;
  border: 1px solid #e8e9ed;
  background: #fff;
}

.news__card1__images {
  display: flex;
  justify-content: center;
}

.news__card1__images__mac {
  margin: 0 auto;
  position: absolute;
  margin-bottom: 1em;
  margin-top: 2em;
  display: inline-block;
  width: 50%;
  max-width: 13.2em;
  height: auto;
  z-index: 1;
}

.news__card1__images__rombo {
  position: relative;
  display: none;
  margin-right: -40%;
  width: 40%;
  height: auto;
  z-index: 0;
}

.news__card1__images__elipse {
  position: relative;
  display: block;
  margin-right: -40%;
  width: 40%;
  height: auto;
  z-index: 0;
}

.news__card1__text__title {
  margin: 1.3em 0em 0em 1.2rem;
  width: auto;
  height: 2.5em;
  color: #000;
  font-family: Raleway;
  font-size: 1.87rem;
  font-weight: 400;
}

.news__card1__text__content {
  margin: 0.6em 0em 0em 1.2rem;
  width: 78%;
  color: #000;
  font-family: Open Sans;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.3rem;
}

@media screen and (min-width: 950px) {
  .news {
    padding: 6.5em 0em;
  }
  .news__card1, .news__card3, .news__card2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
    width: 90%;
    height: 23.1em;
    max-width: 70.2em;
    margin-bottom: 2.5em;
  }
  .news__card1__images {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .news__card1__images__mac {
    margin-top: 7em;
    width: 30%;
    max-width: 386px;
    height: auto;
    flex-shrink: 0;
  }
  .news__card1__images__rombo {
    margin-top: 2.3em;
    display: block;
    width: 40%;
    height: auto;
    flex-shrink: 0;
    margin-top: -10%;
  }
  .news__card1__images__elipse {
    display: none;
  }
  .news__card1__text {
    margin-top: 5.6em;
    margin-left: 2.1em;
    height: 11.7em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .news__card1__text__title {
    margin: 0 0 1.8em 0;
    font-size: 2.25rem;
  }
  .news__card1__text__content {
    width: 70%;
    margin: 0 0 3.1em 0;
    font-size: 1rem;
    margin-bottom: 3.12rem;
  }
  .news__card1__text__span {
    display: block;
    max-width: 90%;
    border-bottom: 2px solid #fb3b64;
    width: 327.64px;
    height: 2px;
  }
}
.news__card2__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__card2__images__iphone2 {
  position: relative;
  margin-top: 1.1em;
  margin-left: 8%;
  width: 55%;
  height: auto;
  flex-shrink: 0;
  z-index: 1;
}

.news__card2__images__elipse-azul {
  position: absolute;
  width: 8.2em;
  height: auto;
  flex-shrink: 0;
  background-color: #08a6e4;
  border-radius: 50%;
  z-index: 0;
}

.news__card2__text {
  margin-top: 1.4em;
}

.news__card2__text__title {
  height: auto;
  margin: 0em 0em 0.5em 1.37rem;
  width: 70%;
  color: #000;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
}

.news__card2__text__content {
  margin: 0em 0em 1.5em 1.37rem;
  width: 78%;
  color: #000;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 21px;
}

@media screen and (min-width: 950px) {
  .news__card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 23.1em;
  }
  .news__card2__images {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .news__card2__images__iphone2 {
    margin-right: 4em;
    width: 80%;
    height: auto;
    flex-shrink: 0;
  }
  .news__card2__images__elipse-azul {
    display: block;
    margin: 0 8em 2em 0;
    width: 28%;
    max-width: 20em;
    height: auto;
    flex-shrink: 0;
  }
  .news__card2__text {
    margin: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .news__card2__text__title {
    width: 55%;
    margin: 15% 0 1.2em 3rem;
    font-size: 2.25rem;
  }
  .news__card2__text__content {
    margin: 0 1.2em 3.1em 3rem;
    width: 65%;
    font-size: 1rem;
  }
  .news__card2__text__span {
    margin-left: 3em;
    display: block;
    border-bottom: 2px solid #08a6e4;
    width: 327.64px;
    max-width: 90%;
    height: 2px;
  }
}
.news__card3__text {
  height: auto;
}

.news__card3__text__title {
  margin: 1.9em 0em 0em 1.2rem;
  width: 80%;
  height: auto;
  color: #000;
  font-family: Raleway;
  font-size: 1.87em;
  font-weight: 400;
}

.news__card3__text__content {
  margin: 1.2em 0em 0em 1.2rem;
  width: 70%;
  color: #000;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}

.news__card3__images {
  height: 18em;
  margin-top: 1em;
  margin-bottom: 10em;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
  width: 100%;
  height: 12.9em;
  flex-shrink: 0;
  background: #55dfb4;
}
.news__card3__images img {
  text-align: center;
  margin-top: 1.5em;
  margin-right: 1.9em;
  width: 100%;
  max-width: 16.6em;
  height: 12.9em;
  flex-shrink: 0;
  height: auto;
  flex-shrink: 0;
}

@media screen and (min-width: 950px) {
  .news__card3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
  }
  .news__card3__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 58%;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
    background: #fff;
  }
  .news__card3__text__title {
    width: 60%;
    margin: 1em 0 1em 2.25rem;
    font-size: 2.25rem;
  }
  .news__card3__text__content {
    width: 55%;
    margin: 0 0 1.1em 2.2em;
    font-size: 1rem;
    margin-bottom: 50px;
  }
  .news__card3__text__span {
    margin-left: 2.25rem;
    display: block;
    border-bottom: 2px solid #55dfb4;
    width: 327.64px;
  }
  .news__card3__images {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 38%;
  }
}/*# sourceMappingURL=news.css.map */