@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  background-color: #fff;
  font-family: Raleway, "Open Sans", system-ui, sans-serif;
}

header {
  width: 100%;
  text-align: center;
  height: 4.4rem;
  background: #fff;
  z-index: 1;
}
header .header-menu, header .header-logo {
  display: none;
}
header .header-menu h1, header .header-logo h1 {
  margin: 1rem 0rem 1rem 1.5rem;
  display: inline-block;
  width: 70%;
  height: auto;
  color: #08a6e4;
  font-family: Raleway;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.3rem;
  text-align: start;
}
header .header-menu button, header .header-logo button {
  width: 10%;
  margin: 1.68rem 1.68rem 2rem 0rem;
  margin-right: 1.7rem;
  border: 0;
  background-color: transparent;
  text-align: end;
  cursor: pointer;
}
header .header-menu button img, header .header-logo button img {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
header .header-menu .header-nav, header .header-logo .header-nav {
  margin-top: -1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  width: 100%;
  height: 10.98rem;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
header .header-menu .header-nav a, header .header-logo .header-nav a {
  margin-left: 1.56rem;
  margin-bottom: 0.875rem;
  text-align: start;
  color: #a5a5a5;
  font-family: Open Sans;
  font-size: 0.68rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.205rem;
  text-transform: uppercase;
  text-decoration: none;
}
header .header-logo {
  display: block;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}
header .header-logo button img {
  display: inline-block;
  width: 20px;
  height: 12px;
  flex-shrink: 0;
}

.header.nav a:hover {
  color: #000;
}

@media screen and (min-width: 670px) {
  header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  }
  header .header-menu, header .header-logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header .header-menu h1, header .header-logo h1 {
    margin: 0px 0px 0px 10%;
  }
  header .header-menu .header-nav, header .header-logo .header-nav {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-right: 5%;
    padding-top: 0px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap: 5%;
    z-index: 0;
    box-shadow: none;
    background-color: transparent;
  }
  header .header-menu .header-nav a, header .header-logo .header-nav a {
    margin: 0px;
    display: flex;
    align-items: center;
    height: 74px;
    border-bottom: 4px solid transparent;
  }
  header .header-menu button, header .header-logo button {
    display: none;
  }
  header .header-logo {
    display: none;
  }
  .header-nav a:hover {
    border-bottom: 4px solid #08a6e4;
  }
}
.banner {
  align-items: center;
  margin-top: 6.25rem;
  margin-bottom: 50px;
  width: 100%;
}
.banner .banner-title {
  margin: 0 auto;
  width: 19.375rem;
  height: 13.31rem;
  text-align: center;
}
.banner .banner-title h2 {
  display: block;
  color: #000;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.25rem;
}
.banner .banner-title h3 {
  margin: 0 auto;
  width: 80%;
  height: 3.56rem;
  display: block;
  color: #000;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1rem;
}
.banner .banner-title button {
  display: block;
  margin: 0 auto;
  margin-top: 1.75rem;
  width: 100%;
  max-width: 27.5rem;
  height: 4.188rem;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 2.5rem;
  border: none;
  background: #08a6e4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.37rem;
}

.banner__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  overflow: hidden;
}
.banner__image img {
  display: block;
  margin: 0 auto;
  margin-top: 3.18rem;
  width: auto;
  max-width: 100%;
  height: 16.68rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-footer {
  margin-top: 0.8125rem;
  width: 100%;
}
.banner-footer h3 {
  margin: 0 auto;
  width: 90%;
  max-width: 50rem;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5625rem;
}
.banner-footer .banner-footer__container {
  margin: 0 auto;
  width: 8.4rem;
  height: 10.5rem;
  text-align: center;
  margin-bottom: 1.56rem;
}
.banner-footer .banner-footer__container .banner-footer__images {
  display: flex;
  justify-content: center;
  height: 4rem;
}
.banner-footer .banner-footer__container .banner-footer__images .banner-footer__ellipse {
  position: absolute;
  width: 3.94rem;
  height: 3.94rem;
  min-height: 3.94rem;
}
.banner-footer .banner-footer__container .banner-footer__images .banner-footer__img {
  position: relative;
  top: 0.3rem;
  left: 1.3rem;
}
.banner-footer .banner-footer__container p {
  margin-top: 1rem;
  width: auto;
  margin-bottom: 1.1875rem;
  color: #000;
  font-family: Raleway;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.4rem;
  letter-spacing: 0.3725rem;
}
.banner-footer .banner-footer__container span {
  color: #a5a5a5;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1765rem;
}

/* MEDIA***************************************** */
@media screen and (min-width: 426px) {
  .banner .banner-title {
    width: auto;
  }
  .banner .banner-title h2 {
    font-size: 3.06rem;
  }
  .banner .banner-title h3 ´ {
    width: 100%;
  }
  .banner .banner-title button {
    margin-top: 0;
  }
  .banner .banner-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner .banner-footer h3 {
    font-weight: 400;
  }
  .banner .banner-footer .container-section {
    margin-top: 6.438rem;
    display: flex;
    justify-content: center;
    gap: 11.5rem;
    max-width: 90%;
    margin-bottom: 8.25rem;
  }
}
.section1 {
  width: 100%;
  height: 87.229rem;
  background: #f7f7f7;
  padding-bottom: 2rem;
}
.section1 .card1, .section1 .card3, .section1 .card2 {
  margin: 0 auto;
  margin-top: 2.62rem;
  width: 19.625rem;
  height: 23.125rem;
  border-radius: 0.313rem;
  border: 1px solid #e8e9ed;
  background: #fff;
}
.section1 .card1 .div-images, .section1 .card3 .div-images, .section1 .card2 .div-images {
  display: flex;
  justify-content: center;
}
.section1 .card1 .div-images .div-images__mac, .section1 .card3 .div-images .div-images__mac, .section1 .card2 .div-images .div-images__mac {
  margin: 0 auto;
  margin-bottom: 20px;
  position: absolute;
  margin-top: 2rem;
  display: inline-block;
  width: 50%;
  height: auto;
  z-index: 1;
}
.section1 .card1 .div-images .div-images__rombo, .section1 .card3 .div-images .div-images__rombo, .section1 .card2 .div-images .div-images__rombo {
  display: none;
  position: relative;
  margin-top: 0rem;
  margin-right: -40%;
  width: 40%;
  height: auto;
  z-index: 0;
}
.section1 .card1 .div-images .div-images__elipse, .section1 .card3 .div-images .div-images__elipse, .section1 .card2 .div-images .div-images__elipse {
  display: block;
  position: relative;
  margin-top: 0rem;
  margin-right: -40%;
  width: 40%;
  height: auto;
  z-index: 0;
}
.section1 .card1 .div-text h3, .section1 .card3 .div-text h3, .section1 .card2 .div-text h3 {
  margin: 2.3rem 0rem 0rem 1.2rem;
  width: auto;
  height: 4.5rem;
  color: #000;
  font-family: Raleway;
  font-size: 1.87rem;
  font-weight: 400;
}
.section1 .card1 .div-text p, .section1 .card3 .div-text p, .section1 .card2 .div-text p {
  margin: 0.625rem 0rem 0rem 1.2rem;
  width: 78%;
  color: #000;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.313rem;
}
.section1 .card1 .div-text span, .section1 .card3 .div-text span, .section1 .card2 .div-text span {
  display: none;
  max-width: 90%;
  border-bottom: 2px solid #fb3b64;
  width: 327.64px;
  height: 2px;
}

@media screen and (min-width: 768px) {
  .section1 {
    padding: 6.563rem 0rem;
  }
  .section1 .card1, .section1 .card3, .section1 .card2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
    width: 90%;
    height: 23.125rem;
    max-width: 70.25rem;
    margin-bottom: 2.563rem;
  }
  .section1 .card1 .div-images, .section1 .card3 .div-images, .section1 .card2 .div-images {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .section1 .card1 .div-images .div-images__mac, .section1 .card3 .div-images .div-images__mac, .section1 .card2 .div-images .div-images__mac {
    margin-top: 7.063rem;
    width: 30%;
    max-width: 386px;
    height: auto;
    flex-shrink: 0;
  }
  .section1 .card1 .div-images .div-images__rombo, .section1 .card3 .div-images .div-images__rombo, .section1 .card2 .div-images .div-images__rombo {
    margin-top: 2.375rem;
    display: block;
    width: 40%;
    height: auto;
    flex-shrink: 0;
    margin-top: -10%;
  }
  .section1 .card1 .div-images .div-images__elipse, .section1 .card3 .div-images .div-images__elipse, .section1 .card2 .div-images .div-images__elipse {
    display: none;
  }
  .section1 .card1 .div-text, .section1 .card3 .div-text, .section1 .card2 .div-text {
    margin-top: 5.68rem;
    margin-left: 2.188rem;
    height: 11.75rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .section1 .card1 .div-text h3, .section1 .card3 .div-text h3, .section1 .card2 .div-text h3 {
    margin: 0 0 1.875rem 0;
    font-size: 36px;
  }
  .section1 .card1 .div-text p, .section1 .card3 .div-text p, .section1 .card2 .div-text p {
    width: 70%;
    margin: 0 0 3.125rem 0;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .section1 .card1 .div-text span, .section1 .card3 .div-text span, .section1 .card2 .div-text span {
    display: block;
    max-width: 20.438rem;
    width: 70%;
  }
}
.card2 .div2-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2 .div2-images .div2-images__iphone2 {
  position: relative;
  margin-top: 1.188rem;
  margin-left: 8%;
  width: 55%;
  height: auto;
  flex-shrink: 0;
  z-index: 1;
}
.card2 .div2-images .div2-images__elipse-azul {
  position: absolute;
  width: 8.188rem;
  height: auto;
  flex-shrink: 0;
  background-color: #08a6e4;
  border-radius: 50%;
  z-index: 0;
}
.card2 .div2-text {
  margin-top: 1.625rem;
}
.card2 .div2-text h3 {
  height: auto;
  margin: 0rem 0rem 1.12rem 1.37rem;
  width: 70%;
  color: #000;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
}
.card2 .div2-text p {
  margin: 0rem 0rem 1.56rem 1.37rem;
  width: 78%;
  color: #000;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 21px;
}
.card2 .div2-text span {
  display: none;
  margin-left: 1.2rem;
  border-bottom: 2px solid #08a6e4;
  width: 327.64px;
  max-width: 90%;
  height: 2px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .section1 .card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 23.125rem;
  }
  .section1 .card2 .div2-images {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .section1 .card2 .div2-images .div2-images__iphone2 {
    margin-right: 4rem;
    width: 80%;
    height: auto;
    flex-shrink: 0;
  }
  .section1 .card2 .div2-images .div2-images__elipse-azul {
    display: block;
    margin: 0 8rem 2rem 0;
    width: 28%;
    max-width: 20rem;
    height: auto;
    flex-shrink: 0;
  }
  .section1 .card2 .div2-text {
    margin: 0;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .section1 .card2 .div2-text h3 {
    width: 70%;
    margin: 15% 0 1.875rem 0;
    font-size: 2.25rem;
  }
  .section1 .card2 .div2-text p {
    margin: 0 1.25rem 3.125rem 0;
    width: 95%;
    font-size: 1rem;
  }
  .section1 .card2 .div2-text span {
    margin: 0;
    max-width: 20.438rem;
    width: 70%;
    display: block;
  }
}
.card3 .div3-text {
  height: auto;
}
.card3 .div3-text h3 {
  margin: 1.9rem 0rem 0rem 1.2rem;
  width: 80%;
  height: auto;
  color: #000;
  font-family: Raleway;
  font-size: 1.87rem;
  font-weight: 400;
}
.card3 .div3-text p {
  margin: 1.271rem 0rem 0rem 1.2rem;
  width: 70%;
  color: #000;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.313rem;
}

.div3-images {
  height: 18rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
  width: 100%;
  height: 207.72px;
  flex-shrink: 0;
  background: #55dfb4;
}
.div3-images img {
  text-align: center;
  margin-top: 24px;
  margin-right: 30px;
  width: 100%;
  max-width: 265.73px;
  height: 207.72px;
  flex-shrink: 0;
  height: auto;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .section1 .card3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
  }
  .section1 .card3 .div3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 58%;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
    background: #fff;
  }
  .section1 .card3 .div3-text h3 {
    width: 60%;
    margin: 0 0 1.875rem 2.25rem;
    font-size: 36px;
  }
  .section1 .card3 .div3-text p {
    width: 55%;
    margin: 0 0 3.125rem 2.25rem;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .section1 .card3 .div3-text span {
    margin-left: 2.25rem;
    display: block;
    border-bottom: 2px solid #55dfb4;
  }
  .section1 .card3 .div3-images {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 38%;
  }
  .section1 .card3 span {
    display: none;
    margin-left: 1.2rem;
    border-bottom: 2px solid #55dfb4;
    width: 327.64px;
    max-width: 90%;
    height: 2px;
    flex-shrink: 0;
  }
}
.pricing {
  width: 100%;
  background: #fff;
  background-color: transparent;
}
.pricing h3 {
  margin: 3.313rem 0 0 0;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.625rem;
}

.pricing-article, .pricing-article3, .pricing-article2 {
  margin: 0 auto;
  width: 80%;
  height: 17.1875rem;
  max-height: 30.3125rem;
  transition: transform 0.3s ease;
}
.pricing-article .pricing-section, .pricing-article3 .pricing-section, .pricing-article3 .pricing-section3, .pricing-article2 .pricing-section, .pricing-article2 .pricing-section2 {
  display: flex;
  align-items: center;
  margin-bottom: -1.5rem;
  margin-top: 0.875rem;
  width: 100%;
  max-width: 25.3125rem;
  height: 15.6875rem;
  flex-shrink: 0;
  border-radius: 1.125rem;
  border: 1px solid #fb3b64;
  background: #fff;
}
.pricing-article .pricing-section .pricing-text, .pricing-article3 .pricing-section .pricing-text, .pricing-article3 .pricing-section3 .pricing-text, .pricing-article3 .pricing-section3 .pricing-text3, .pricing-article2 .pricing-section .pricing-text, .pricing-article2 .pricing-section2 .pricing-text, .pricing-article2 .pricing-section2 .pricing-text2 {
  margin-top: 0;
  width: 50%;
}
.pricing-article .pricing-section .pricing-text h4, .pricing-article3 .pricing-section .pricing-text h4, .pricing-article3 .pricing-section3 .pricing-text h4, .pricing-article3 .pricing-section3 .pricing-text3 h4, .pricing-article2 .pricing-section .pricing-text h4, .pricing-article2 .pricing-section2 .pricing-text h4, .pricing-article2 .pricing-section2 .pricing-text2 h4 {
  width: 100%;
  text-align: center;
  color: #13253b;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.pricing-article .pricing-section .pricing-text h5, .pricing-article3 .pricing-section .pricing-text h5, .pricing-article3 .pricing-section3 .pricing-text h5, .pricing-article3 .pricing-section3 .pricing-text3 h5, .pricing-article2 .pricing-section .pricing-text h5, .pricing-article2 .pricing-section2 .pricing-text h5, .pricing-article2 .pricing-section2 .pricing-text2 h5 {
  width: 100%;
  text-align: center;
  font-family: Open Sans;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.6875rem;
  color: #fb3b64;
}
.pricing-article .pricing-section ul, .pricing-article3 .pricing-section ul, .pricing-article3 .pricing-section3 ul, .pricing-article2 .pricing-section ul, .pricing-article2 .pricing-section2 ul {
  display: inline-block;
  list-style: none;
}
.pricing-article .pricing-section ul li, .pricing-article3 .pricing-section ul li, .pricing-article3 .pricing-section3 ul li, .pricing-article2 .pricing-section ul li, .pricing-article2 .pricing-section2 ul li {
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.pricing-article .pricing-section ul li p, .pricing-article3 .pricing-section ul li p, .pricing-article3 .pricing-section3 ul li p, .pricing-article2 .pricing-section ul li p, .pricing-article2 .pricing-section2 ul li p {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pricing-article .pricing-section ul li img, .pricing-article3 .pricing-section ul li img, .pricing-article3 .pricing-section3 ul li img, .pricing-article2 .pricing-section ul li img, .pricing-article2 .pricing-section2 ul li img {
  margin-right: 0.3125rem;
  width: 0.6875rem;
  height: 0.6875rem;
}
.pricing-article .pricing-section ul li span, .pricing-article3 .pricing-section ul li span, .pricing-article3 .pricing-section3 ul li span, .pricing-article2 .pricing-section ul li span, .pricing-article2 .pricing-section2 ul li span {
  margin-right: 0.3125rem;
  flex-shrink: 0;
  padding: 0px 0.125rem;
  border: 0.03125rem solid #eb476e;
  color: #eb476e;
  text-align: center;
  font-family: Raleway;
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.625rem;
}
.pricing-article .pricing-button, .pricing-article3 .pricing-button, .pricing-article3 .pricing-button3, .pricing-article2 .pricing-button, .pricing-article2 .pricing-button2 {
  width: 100%;
  text-align: center;
}
.pricing-article .pricing-button button, .pricing-article3 .pricing-button button, .pricing-article3 .pricing-button3 button, .pricing-article2 .pricing-button button, .pricing-article2 .pricing-button2 button {
  text-align: center;
  width: 9.375rem;
  height: 3.125rem;
  flex-shrink: 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 1.4375rem;
  background: #eb476e;
}

.pricing-article:hover, .pricing-article3:hover, .pricing-article2:hover {
  transform: scale(1.2);
}
.pricing-article:hover .pricing-section, .pricing-article:hover .pricing-article3 .pricing-section3, .pricing-article3 .pricing-article:hover .pricing-section3, .pricing-article3:hover .pricing-section, .pricing-article3:hover .pricing-section3, .pricing-article:hover .pricing-article2 .pricing-section2, .pricing-article3:hover .pricing-article2 .pricing-section2, .pricing-article2 .pricing-article:hover .pricing-section2, .pricing-article2 .pricing-article3:hover .pricing-section2, .pricing-article2:hover .pricing-section, .pricing-article2:hover .pricing-article3 .pricing-section3, .pricing-article3 .pricing-article2:hover .pricing-section3, .pricing-article2:hover .pricing-section2 {
  box-shadow: 5px 10px 27px 0px rgba(235, 71, 109, 0.2745098039);
}

.pricing-article2 {
  margin-top: 1.875rem;
}
.pricing-article2 .pricing-section2 {
  border: 1px solid #07ace6;
}
.pricing-article2 .pricing-section2 .pricing-text2 h5 {
  color: #07ace6;
}
.pricing-article2 .pricing-section2 .pricing-text2 h6 {
  width: 100%;
  text-align: center;
  color: #13253b;
  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-article2 .pricing-button2 button {
  background: #07ace6;
}

.pricing-article2:hover .pricing-section2 {
  box-shadow: 5px 10px 27px 0px rgba(7, 171, 230, 0.3019607843);
}

.pricing-article3 {
  margin-top: 1.875rem;
}
.pricing-article3 .pricing-section3 {
  border: 1px solid #55dfb4;
}
.pricing-article3 .pricing-section3 .pricing-text3 h5 {
  color: #55dfb4;
}
.pricing-article3 .pricing-section3 .pricing-text3 h6 {
  width: 100%;
  text-align: center;
  color: #13253b;
  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-article3 .pricing-button3 button {
  background: #55dfb4;
}

.pricing-article3:hover .pricing-section3 {
  box-shadow: 5px 10px 27px 0px rgba(85, 223, 179, 0.3019607843);
}

@media screen and (min-width: 520px) {
  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .pricing .pricing-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.75rem;
    width: 100%;
    margin-bottom: 8.125rem;
  }
  .pricing .pricing-container .pricing-article, .pricing .pricing-container .pricing-article2, .pricing .pricing-container .pricing-article3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 23.25rem;
    margin: 0px;
    padding: 0px;
  }
  .pricing .pricing-container .pricing-article .pricing-section, .pricing .pricing-container .pricing-article2 .pricing-section, .pricing .pricing-container .pricing-article3 .pricing-section, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2, .pricing .pricing-container .pricing-article2 .pricing-section2, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3, .pricing .pricing-container .pricing-article3 .pricing-section3 {
    display: flex;
    flex-direction: column;
    height: 28.8125rem;
    margin-top: 3.125rem;
    padding-bottom: 3.4375rem;
  }
  .pricing .pricing-container .pricing-article .pricing-section .pricing-text, .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text, .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article .pricing-section .pricing-text2, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text2, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text2, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text2, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text2, .pricing-article2 .pricing-section2 .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text2, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text2, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article .pricing-section .pricing-text3, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text3, .pricing-article3 .pricing-section3 .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text3, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text3, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text3, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text3, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pricing .pricing-container .pricing-article .pricing-section .pricing-text h4, .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text h4, .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text h4, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text h4, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text h4, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text h4, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text h4, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text h4, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text h4, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article .pricing-section .pricing-text2 h4, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text2 h4, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text2 h4, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text2 h4, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text2 h4, .pricing-article2 .pricing-section2 .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text2 h4, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text2 h4, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article .pricing-section .pricing-text3 h4, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text3 h4, .pricing-article3 .pricing-section3 .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text3 h4, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text3 h4, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text3 h4, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text3 h4, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text3 h4 {
    margin-top: 2.0625rem;
  }
  .pricing .pricing-container .pricing-article .pricing-section .pricing-text h5, .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text h5, .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text h5, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text h5, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text h5, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text h5, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text h5, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text h5, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text h5, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article .pricing-section .pricing-text2 h5, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section .pricing-text2 h5, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text2 h5, .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text2 h5, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 .pricing-text2 h5, .pricing-article2 .pricing-section2 .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text2 h5, .pricing-article2 .pricing-section2 .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text2 h5, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article .pricing-section .pricing-text3 h5, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section .pricing-text3 h5, .pricing-article3 .pricing-section3 .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 .pricing-text3 h5, .pricing-article3 .pricing-section3 .pricing .pricing-container .pricing-article2 .pricing-section2 .pricing-text3 h5, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 .pricing-text3 h5, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 .pricing-text3 h5, .pricing .pricing-container .pricing-article3 .pricing-section3 .pricing-text3 h5 {
    margin-top: 0.875rem;
  }
  .pricing .pricing-container .pricing-article .pricing-section ul, .pricing .pricing-container .pricing-article2 .pricing-section ul, .pricing .pricing-container .pricing-article3 .pricing-section ul, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-section2 ul, .pricing .pricing-container .pricing-article2 .pricing-section2 ul, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-section2 ul, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-section3 ul, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-section3 ul, .pricing .pricing-container .pricing-article3 .pricing-section3 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.125rem;
  }
  .pricing .pricing-container .pricing-article .pricing-button, .pricing .pricing-container .pricing-article2 .pricing-button, .pricing .pricing-container .pricing-article3 .pricing-button, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-button2, .pricing .pricing-container .pricing-article2 .pricing-button2, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-button2, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-button3, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-button3, .pricing .pricing-container .pricing-article3 .pricing-button3 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .pricing .pricing-container .pricing-article .pricing-button button, .pricing .pricing-container .pricing-article2 .pricing-button button, .pricing .pricing-container .pricing-article3 .pricing-button button, .pricing-article2 .pricing .pricing-container .pricing-article .pricing-button2 button, .pricing .pricing-container .pricing-article2 .pricing-button2 button, .pricing-article2 .pricing .pricing-container .pricing-article3 .pricing-button2 button, .pricing-article3 .pricing .pricing-container .pricing-article .pricing-button3 button, .pricing-article3 .pricing .pricing-container .pricing-article2 .pricing-button3 button, .pricing .pricing-container .pricing-article3 .pricing-button3 button {
    width: 10.3125rem;
    height: 3.125rem;
  }
}
.contact {
  padding-top: 3.3125rem;
  width: 100%;
  background: #fff;
}
.contact .contact-article {
  width: 80%;
  margin: 0 auto;
}
.contact .contact-article .contact-section h4 {
  color: #000;
  font-family: "Raleway";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .contact-article .contact-section h5 {
  color: #000;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}
.contact .contact-article .contact-section .contact-email, .contact .contact-article .contact-section .contact-phone {
  margin-top: 2.375rem;
  display: flex;
  align-items: center;
}
.contact .contact-article .contact-section .contact-email img, .contact .contact-article .contact-section .contact-phone img {
  display: inline-block;
  width: 1.6875rem;
  height: 1.6875rem;
}
.contact .contact-article .contact-section .contact-email p, .contact .contact-article .contact-section .contact-phone p {
  display: inline-block;
  color: #a5a5a5;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
}
.contact .contact-article .contact-section .contact-phone {
  margin: 1.0625rem 0 3.125rem 0;
}
.contact .contact-article .form-section .form label {
  color: #08a6e4;
  font-family: Open Sans;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.205rem;
}
.contact .contact-article .form-section .form input {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2.625rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #95989a;
}
.contact .contact-article .form-section .form-check {
  display: flex;
}
.contact .contact-article .form-section .form-check input {
  display: inline-block;
  margin-right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: #08a6e4;
  background-color: #fff;
}
.contact .contact-article .form-section .form-check p {
  display: inline-block;
  width: 79%;
  color: #707070;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .contact-article .form-section .form-send {
  text-align: end;
}
.contact .contact-article .form-section .form-send button {
  margin-top: 2.0625rem;
  width: 14.125rem;
  height: 3.5625rem;
  flex-shrink: 0;
  border: 0;
  border-radius: 2.1875rem;
  background: #08a6e4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  color: #fff;
  font-family: Open Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 64rem) {
  .contact .contact-article {
    display: flex;
    width: 70%;
    max-width: 56rem;
  }
  .contact .contact-article .contact-section {
    width: 50%;
  }
  .contact .contact-article .contact-section h4 {
    font-size: 3.0625rem;
  }
  .contact .contact-article .contact-section h5 {
    margin-top: 1.375rem;
    margin-bottom: 2.625rem;
  }
  .contact .contact-article .contact-section div {
    display: flex;
    gap: 1.25rem;
  }
  .contact .contact-article .contact-section div .contact-email, .contact .contact-article .contact-section div .contact-phone {
    display: flex;
    margin: 0px;
    gap: 0.625rem;
  }
  .contact .contact-article .contact-section div .contact-phone {
    display: flex;
  }
  .contact .contact-article .form-section {
    width: 50%;
  }
}
footer {
  margin-top: 44px;
  width: 100%;
  background: #f7f7f7;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
footer .footer__div1 {
  width: 70%;
  display: inline-block;
  margin-top: 22px;
  margin-left: 5%;
  text-align: start;
}
footer .footer__div1 h2 {
  color: #08a6e4;
  font-family: Raleway;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 115.385% */
}
footer .footer__div1 p {
  color: #a5a5a5;
  font-family: Open Sans;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
footer .footer__div2 {
  text-align: center;
  width: 20%;
  margin-top: 33px;
  display: inline-block;
}
footer .footer__div2 .footer__div2__img1 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 20px;
}/*# sourceMappingURL=styles.css.map */