* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  background-color: #fff;
  font-family: Raleway, "Open Sans", system-ui, sans-serif;
}

@import "./scroller/scroller.scss";

@import "./header/header.scss";

@import "./modal/modal.scss";

@import "./banner/banner.scss";

@import "./news/news.scss";

@import "./pricing/pricing.scss";

@import "./slider/slider.scss";

@import "./contact/contact.scss";

@import "./footer/buttonFooter/footerTop.scss";

@import "./footer/footer.scss";
