* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  background-color: #fff;
  font-family: Raleway,'Open Sans', system-ui, sans-serif;
}

// HEADER*****************************
@import "./header/header.scss";

// BANNER*****************************
@import "./banner/banner.scss";

// ASIDE 1 ***************************
@import "./aside1/aside1.scss";

// ASIDE 2 ***************************
@import "./aside2/aside2.scss";

// ASIDE 3 ***************************
@import "./aside3/aside3.scss";

// FOOTER ****************************
@import "./footer/footer.scss"




