.contact {
  padding-top: 3.3125rem;
  width: 100%;
  background: #fff;
}
.contact .contact-article {
  width: 80%;
  margin: 0 auto;
}
.contact .contact-article .contact-section h4 {
  color: #000;
  font-family: "Raleway";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .contact-article .contact-section h5 {
  color: #000;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}
.contact .contact-article .contact-section .contact-email, .contact .contact-article .contact-section .contact-phone {
  margin-top: 2.375rem;
  display: flex;
  align-items: center;
}
.contact .contact-article .contact-section .contact-email img, .contact .contact-article .contact-section .contact-phone img {
  display: inline-block;
  width: 1.6875rem;
  height: 1.6875rem;
}
.contact .contact-article .contact-section .contact-email p, .contact .contact-article .contact-section .contact-phone p {
  display: inline-block;
  color: #a5a5a5;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
}
.contact .contact-article .contact-section .contact-phone {
  margin: 1.0625rem 0 3.125rem 0;
}
.contact .contact-article .form-section .form label {
  color: #08a6e4;
  font-family: Open Sans;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.205rem;
}
.contact .contact-article .form-section .form input {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2.625rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #95989a;
}
.contact .contact-article .form-section .form-check {
  display: flex;
}
.contact .contact-article .form-section .form-check input {
  display: inline-block;
  margin-right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: #08a6e4;
  background-color: #fff;
}
.contact .contact-article .form-section .form-check p {
  display: inline-block;
  width: 79%;
  color: #707070;
  font-family: Open Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .contact-article .form-section .form-send {
  text-align: end;
}
.contact .contact-article .form-section .form-send button {
  margin-top: 2.0625rem;
  width: 14.125rem;
  height: 3.5625rem;
  flex-shrink: 0;
  border: 0;
  border-radius: 2.1875rem;
  background: #08a6e4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  color: #fff;
  font-family: Open Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 1000px) {
  .contact .contact-article {
    display: flex;
    width: 90%;
    max-width: 56rem;
  }
  .contact .contact-article .contact-section {
    width: 50%;
  }
  .contact .contact-article .contact-section h4 {
    font-size: 3.0625rem;
  }
  .contact .contact-article .contact-section h5 {
    margin-top: 1.375rem;
    margin-bottom: 2.625rem;
  }
  .contact .contact-article .contact-section div {
    display: flex;
    gap: 1.25rem;
  }
  .contact .contact-article .contact-section div .contact-email, .contact .contact-article .contact-section div .contact-phone {
    display: flex;
    margin: 0px;
    gap: 0.625rem;
  }
  .contact .contact-article .contact-section div .contact-phone {
    display: flex;
  }
  .contact .contact-article .form-section {
    width: 50%;
  }
}/*# sourceMappingURL=aside3.css.map */