.clickTop {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  width: 6.25em;
  height: auto;
  z-index: 10;
}

.clickTop img {
  margin-top: -3.5em;
  animation: pushToTop 0.6s infinite linear;
  cursor: pointer;
}

@keyframes pushToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@media screen and (min-width: 768px) {
  .footer-clickTop {
    text-align: end;
  }
}
